---
layout: compress
---

<!DOCTYPE html>
<html lang="en-US" data-lang="en-US" crm-lang="en-US" dir="ltr" crm-lcid="1033" same-site-mode="None">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style data-merge-styles="true"></style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Mobius AI, Inc
    </title>


<link href="./css/bootstrap-4.4.1.css" rel="stylesheet">
<link href="./css/font-awesome.bundle-3d8a58a48f.css"
    onerror="javascript: var target = event.target; var link = document.createElement(&#39;link&#39;); link.crossOrigin = target.crossOrigin; link.href = &#39;/dist/font-awesome.bundle-3d8a58a48f.css&#39;; link.rel = &#39;stylesheet&#39;; target.insertAdjacentElement(&#39;afterend&#39;,link);"
    rel="stylesheet">
<link href="./css/theme.css" rel="stylesheet">
<link href="./css/portalbasictheme.css" rel="stylesheet">
<link href="{{  base_path }}/css/stylish-portfolio.css" rel="stylesheet">



<meta name="react-film" content="version=3.1.1-main.df870ea">
<meta name="react-scroll-to-bottom:version" content="4.2.0">
<meta name="web-speech-cognitive-services" content="version=7.1.3">
<meta name="botframework-directlinespeech:version" content="4.15.10-main.20230925.afe913c">
<meta name="botframework-webchat:bundle:variant" content="full">
<meta name="botframework-webchat:bundle:version" content="4.15.10-main.20230925.afe913c">
<meta name="botframework-webchat:core:version" content="4.15.10-main.20230925.afe913c">
<meta name="botframework-webchat:ui:version" content="4.15.10-main.20230925.afe913c">
<style data-emotion="webchat--css-xvsdc" data-s=""></style>
<style data-emotion="react-scroll-to-bottom--css-tzqqj" data-s=""></style>
</head>

<body id="page-top" data-sitemap-state="/" data-dateformat="M/d/yyyy" data-timeformat="h:mm tt" data-datetimeformat="M/d/yyyy h:mm tt"
    data-app-path="/" data-ckeditor-basepath="/js/BaseHtmlContentDesigner/Libs/msdyncrm_/libs/ckeditor/"
    data-case-deflection-url="/_services/search/2f79ec95-94ee-46f7-b173-cf6ffe660c72">

    <div class="container-fluid align-left  bg-dark text-white" id="banner">
        <div class="row">
          <div class="col-12 masthead2">
            <h3 class="mdc-typography--headline3 p-1" >
                <a href="{{ base_path }}/"><img src="{{base_path}}/images/MobiusAIlogo_white.png" alt="" height="40"></a>
       </h3>
              <!-- <a href="{{ base_path }}/">SmartTransit.ai </a> -->
             <!-- <div class="d-none d-lg-inline"> - Optimizing Multi-modal Mixed Fleet Transit Operations</div>  -->
          </div>
      </div>
      </div>
    <link href="./css/pcf-style.bundle-2659c6f064.css"
        onerror="javascript: var target = event.target; var link = document.createElement(&#39;link&#39;); link.crossOrigin = target.crossOrigin; link.href = &#39;/dist/pcf-style.bundle-2659c6f064.css&#39;; link.rel = &#39;stylesheet&#39;; target.insertAdjacentElement(&#39;afterend&#39;,link);"
        rel="stylesheet">

        {% for entry in site.data.navigation %}
        {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
            {% if fullurl == page.url %}
                {% assign current_page = fullurl %}
                {% break %}
            {% elsif page.url contains fullurl %}
                {% assign current_page = fullurl %}
            {% endif %}
        {% endfor %}
        <a id="toggleswitch" class="menu-toggle rounded" href="#">
            <i class="fas fa-bars"></i>
          </a>
          <!-- Then we build the nav bar. -->
          <nav id="sidebar-wrapper">
              <ul  class="sidebar-nav">
              {% for entry in site.data.navigation %}
                  {% if entry.url == current_page %}
                      {% assign class = ' class="js-scroll-trigger font-weight-bold font-italic"' %}
                  {% else %}
                    {% assign class = ' class="js-scroll-trigger"' %}
                      <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
                      {% assign current = null %}
                  {% endif %}
                  {% assign sublinks = entry.sublinks %}
                  {% if sublinks %}
                  <li class="sidebar-nav-item">
                      <a {{ class }}  href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
                      <ul>
                          {% for sublink in sublinks %}
                          <li class="sidebar-nav-item text-white"><a  class="js-scroll-trigger"  href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                          {% endfor %}
                      </ul>
                  </li>
                  {% else %}
                  <li  class="sidebar-nav-item" ><a {{ class }}  href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
                  {% endif %}
              {% endfor %}
              </ul>
          </nav>



{{ content }}

<footer role="contentinfo" class="footer">
    <div class="footer-bottom hidden-print">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center">
                    <button
                        onclick="window.location.href=&#39;https://www.linkedin.com/company/mobius-ai-tech/&#39;"
                        type="button" value="https://www.linkedin.com/company/mobius-ai-tech/" id="irmekq"
                        class="button1" style="margin-left: auto; margin-right: auto;">Connect on Linkedin</button>
                </div>

                <div class="col-6 text-center">

                    <button
                        onclick=""
                        class="button1" style="margin-left: auto; margin-right: auto;">Email: inquiries@mobiusai.tech</button>

                    </div>

                

            </div>
        </div>
    </div>
</footer>

<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

<script src="{{ base_path }}/js/jquery/jquery.min.js"></script>
<script src="{{ base_path }}/js/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ base_path }}/js/jquery-easing/jquery.easing.min.js"></script>
<script src="{{ base_path }}/js/stylish-portfolio.js"></script>

</body>

</html>
