---
layout: compress
---

<!DOCTYPE html>
<html lang="en-US" data-lang="en-US" crm-lang="en-US" dir="ltr" crm-lcid="1033" same-site-mode="None">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style data-merge-styles="true"></style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Mobius AI, Inc
    </title>

<script type="text/javascript">
    window.onload = function () {
        if (window.navigator.appName == 'Microsoft Internet Explorer' || window.navigator.userAgent.indexOf('Trident') > 0) {
        var searchElement = document.getElementById('search');
        if (searchElement != null) searchElement.setAttribute('href', '');
        }
    };
    function setHeight() {
        var windowHeight = window.innerHeight - 140;
        var navbar = document.getElementById('navbar');
        if (navbar) {
        navbar.style.maxHeight = windowHeight + 'px';
        }
    }
    window.addEventListener('resize', function (event) {
        setHeight();
    });
</script>

<script type="text/javascript">
// Refresh all powerBI Iframes on Login in one Iframe
// Fix for incorrect viewport width setting in IE 10 on Windows Phone 8.
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
    var msViewportStyle = document.createElement("style");
    msViewportStyle.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}"));
    document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
}
</script>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font-awesome.bundle-3d8a58a48f.css"
        onerror="javascript: var target = event.target; var link = document.createElement(&#39;link&#39;); link.crossOrigin = target.crossOrigin; link.href = &#39;/dist/font-awesome.bundle-3d8a58a48f.css&#39;; link.rel = &#39;stylesheet&#39;; target.insertAdjacentElement(&#39;afterend&#39;,link);"
        rel="stylesheet">
    <link href="./css/theme.css" rel="stylesheet">
    <link href="./css/portalbasictheme.css" rel="stylesheet">

 
    <meta name="react-film" content="version=3.1.1-main.df870ea">
    <meta name="react-scroll-to-bottom:version" content="4.2.0">
    <meta name="web-speech-cognitive-services" content="version=7.1.3">
    <meta name="botframework-directlinespeech:version" content="4.15.10-main.20230925.afe913c">
    <meta name="botframework-webchat:bundle:variant" content="full">
    <meta name="botframework-webchat:bundle:version" content="4.15.10-main.20230925.afe913c">
    <meta name="botframework-webchat:core:version" content="4.15.10-main.20230925.afe913c">
    <meta name="botframework-webchat:ui:version" content="4.15.10-main.20230925.afe913c">
    <style data-emotion="webchat--css-xvsdc" data-s=""></style>
    <style data-emotion="react-scroll-to-bottom--css-tzqqj" data-s=""></style>
</head>

<body data-sitemap-state="/" data-dateformat="M/d/yyyy" data-timeformat="h:mm tt" data-datetimeformat="M/d/yyyy h:mm tt"
    data-app-path="/" data-ckeditor-basepath="/js/BaseHtmlContentDesigner/Libs/msdyncrm_/libs/ckeditor/"
    data-case-deflection-url="/_services/search/2f79ec95-94ee-46f7-b173-cf6ffe660c72">


    <link href="./css/pcf-style.bundle-2659c6f064.css"
        onerror="javascript: var target = event.target; var link = document.createElement(&#39;link&#39;); link.crossOrigin = target.crossOrigin; link.href = &#39;/dist/pcf-style.bundle-2659c6f064.css&#39;; link.rel = &#39;stylesheet&#39;; target.insertAdjacentElement(&#39;afterend&#39;,link);"
        rel="stylesheet">





   

     

  

  




    <div class="navbar navbar-inverse navbar-static-top" role="banner">
  
        <div class="container">
            <div class="navbar-header">
                <div class="visible-sm-block visible-md-block visible-lg-block visible-xs-block navbar-brand">
                    <div class="xrm-editable-html xrm-attribute" data-languagecontext="English">
                        <div class="xrm-attribute-value"><a href="/">
                                <img src="./images/MobiusAIlogo_white.png"
                                    alt="Mobius-AI is poised to revolutionize the field of fleet management"
                                    style="width: auto; height: 32px; margin: 0 10px;">
                                <h1 class="siteTitle"></h1>

                            </a>
                        </div>
                    </div>
                </div>
<!-- <button type="button" class="navbar-toggle collapsed" title="Toggle navigation " data-toggle="collapse" data-target="#navbar" aria-expanded="false" onclick="setHeight();"> -->

<!-- <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="sr-only">Toggle navigation
                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">


                <nav aria-label="Main Navigation" class="navbar-right menu-bar " data-weblinks-maxdepth="2">
                    <ul class="nav navbar-nav weblinks">





                        <li class="weblink ">
                            <a aria-label="Home" href="/"
                                aria-roledescription="link" title="Home" aria-current="page">
                                Home
                            </a>

                        </li>


                        <li class="divider-vertical" aria-hidden="true"></li>




                        <li class="weblink ">
                            <a aria-label="FAQ" href="/faq.html"
                                aria-roledescription="link" title="FAQ">
                                FAQ
                            </a>

                        </li>


                        <li class="divider-vertical" aria-hidden="true"></li>




                        <li class="weblink ">
                            <a aria-label="Partnerships" href="/partnerships.html"
                                aria-roledescription="link" title="Partnerships">
                                Partnerships
                            </a>

                        </li>








                    </ul>

                </nav>

            </div>
        </div>
    </div>



{{ content }}

<footer role="contentinfo" class="footer">
    <div class="footer-bottom hidden-print">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <button
                        onclick="window.location.href=&#39;https://www.linkedin.com/company/mobius-ai-tech/&#39;"
                        type="button" value="https://www.linkedin.com/company/mobius-ai-tech/" id="irmekq"
                        class="button1" style="margin-left: auto; margin-right: auto;">Connect on Linkedin</button>

                </div>

            </div>
        </div>
    </div>
</footer>

</body>

</html>